<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compuland Α.Ε.</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="sidebar">
        <h2>Πίνακας Ελέγχου</h2>
        <ul>
            <li><a href="/">Πίνακας Ελέγχου</a></li>
            <li><a href="/conditions">Συνθήκες</a></li>
            <li><a href="/compuland">Compuland Α.Ε.</a></li>
            <li><a href="/devices">Συσκευές</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <div class="company-info">
                <img src="/static/logo.png" alt="Compuland Logo" class="company-logo">
                <h1>COMPULAND ΣΥΣΤΗΜΑΤΑ ΠΛΗΡΟΦΟΡΙΚΗΣ & ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ Α.Ε.</h1>
                <p>Η COMPULAND ΣΥΣΤΗΜΑΤΑ ΠΛΗΡΟΦΟΡΙΚΗΣ & ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ Α.Ε. είναι από τις μεγαλύτερες εταιρείες
                    πληροφορικής στην κεντρική Ελλάδα, με έδρα την Καρδίτσα και έτος ίδρυσης το 1989 η οποία
                    δραστηριοποιείται σε όλη την Ελλάδα.</p>
                <p>Αποστολή μας είναι η παροχή ποιοτικών λύσεων υψηλής τεχνολογίας στους πελάτες μας, υιοθετώντας μια
                    πελατοκεντρική προσέγγιση στην εργασία μας. H εταιρεία μας είναι στελεχωμένη με ανθρώπους της
                    πληροφορικής που τους διακρίνει το πάθος για το αντικείμενο τους και η υψηλή κατάρτιση. Διατηρεί 3
                    εγκαταστάσεις συνολικού εμβαδού 1500τμ.</p>
                <h2>Η δραστηριότητα μας</h2>
                <p>Η εταιρεία δραστηριοποιείται στην εγκατάσταση δικτύων, στην ανάπτυξη λογισμικού, καθώς και στην
                    παροχή επαγγελματικών λύσεων, υπηρεσιών ασφαλείας και τεχνικής υποστήριξης. Διαθέτουμε αξιόλογη
                    εμπειρία σε βάσεις δεδομένων ORACLE, Sql Server, λογισμικό Ανοιχτού Κώδικα (Open Source), Linux,
                    Asterisk Open Source PBX. Βοηθούμε τις επιχειρήσεις να αναπτύξουν το ανταγωνιστικό τους πλεονέκτημα
                    στον τομέα της επιχειρηματικότητας.</p>
                <p><strong>Είμαστε επίσημοι αντιπρόσωποι των εταιρειών:</strong> Canon, Panasonic, Lexmark, Epson</p>
                <p><strong>Παράλληλα συνεργαζόμαστε με τις μεγαλύτερες εταιρείες του κλάδου:</strong></p>
                <ul>
                    <li>Dell, HP, Lenovo, Asus, Fujitsu για συστήματα υπολογιστών και διακομιστών</li>
                    <li>SoftOne, SingularLogic, Epsilon για εμπορικολογιστικό λογισμικό και ERP συστήματα</li>
                    <li>Microsoft για λογισμικό συστήματος και εφαρμογές αυτοματισμού γραφείου</li>
                    <li>Canon, Panasonic, Lexmark, Epson για εκτυπωτικά μηχανήματα</li>
                    <li>Cisco, Ubiquiti, D-Link, HP, TP-Link για δικτυακές λύσεις</li>
                    <li>NOVA για υπηρεσίες τηλεφωνίας και ίντερνετ</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>