<!-- HTML FOR SHOWING TEMPERATURE AND HUMIDITY -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Data</title>
    <script src="/static/script.js" defer></script>
</head>

<body>
    <h1>Device Data</h1>
    <div>
        <h2>Temperature: <span id="temperature">N/A</span> °C</h2>
        <h2>Humidity: <span id="humidity">N/A</span> %</h2>
    </div>
</body>

</html> -->



<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Main Menu</h1>
        <div class="menu">
            <a href="/em300" class="menu-item">EM300</a>
            <a href="/option1" class="menu-item">Option 1</a>
            <a href="/option2" class="menu-item">Option 2</a>
            <a href="/option3" class="menu-item">Option 3</a>
        </div>
    </div>
</body>

</html>