<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Συστήματα Compuland</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    <div class="sidebar">
        <h2>Πίνακας Ελέγχου</h2>
        <ul>
            <li><a href="/">EM300</a></li>
            <li><a href="#">UC512</a></li>
            <li><a href="#">Επιλογή 2</a></li>
            <li><a href="#">Επιλογή 3</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1>Πίνακας Δεδομένων Συσκευής</h1>
            <div class="card">
                <h2>Θερμοκρασία</h2>
                <div class="data">
                    <span id="temperature">N/A</span>
                    <span class="unit">°C</span>
                </div>
            </div>
            <div class="card">
                <h2>Υγρασία</h2>
                <div class="data">
                    <span id="humidity">N/A</span>
                    <span class="unit">%</span>
                </div>
            </div>
            <div class="card">
                <h2>Solenoid 1</h2>
                <div class="data">
                    <button id="solenoid1-button" class="solenoid-button">Ανοικτή</button>
                </div>
            </div>
            <div class="card">
                <h2>Solenoid 2</h2>
                <div class="data">
                    <button id="solenoid2-button" class="solenoid-button">Ανοικτή</button>
                </div>
            </div>
            <div class="card">
                <h2>Test</h2>
                <div class="data">
                    <button id="test-button" class="test-button">Test</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>